header {
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.header-menu h1 {
    
}


nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    margin-top: -80px;
}

li {
    margin: 1rem;
}